.navbar {
  width: 100%;
  background-color: var(--bg-brue);
}
.nav-link {
  color: var(--bg-white) !important;
}
.nav-link:hover {
  text-decoration-color: var(--bg-red) !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}
.text-blue {
  color: var(--bg-brue);
}
.text-red {
  color: var(--bg-red);
}
.text-pink {
  color: var(--bg-pink);
}
.bg-gray {
  background-color: var(--bg-gray) !important;
}
.bg-red {
  background-color: var(--bg-red) !important;
}
.bg-pink {
  background-color: var(--bg-pink) !important;
}
.bg-blue {
  color: var(--bg-white) !important;
  background-color: var(--bg-brue) !important;
}
.icon {
  color: var(--bg-brue) !important;
}
.letter-spacing {
  letter-spacing: 4px;
}
.shap {
  width: 380px;
  height: 380px;
  background-color: var(--bg-pink);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  overflow: hidden;
  animation: Bob 3s ease-in-out infinite alternate;
}
@keyframes Bob {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

.box-animation{
  color: var(--bg-brue);
  animation: icon 3s ease-in infinite alternate;
}
@keyframes icon {
  from{
    transform: translateX(0);
  }
  to
  {
    transform: translateX(-100px);
  }
}
/* .box-rounted{
  color: var(--bg-pink);
  animation: box-roun 3s ease-in-out infinite alternate;
}
@keyframes box-roun{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-100);
  }
} */



.typewriter h5 {
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0.15; 
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
.typing-loop {
  font-family: monospace;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--bg-red);
  width: 0;
  animation: typing-back 6s steps(25) infinite;
}
@keyframes typing-back {
  0% {
    width: 0;
  }

  40% {
    width: 22ch;
  }

  60% {
    width: 22ch;
  }

  100% {
    width: 0;
  }
}

