.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.7s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
:root{
    --bg-brue:#0B1D51;
    --bg-white:#FFFCFB;
    --bg-pink:#FFD8D8;
    --bg-red: #ED3500;
    --bg-black:#0F0E0E;
    --bg-gray:#F5F5F0;
    --bg-green:#118B50;
    --bg-yello:#FFC145;
}
.font-size {
    font-size: 22px;
}